<table class="table table-striped" *ngIf="carregarLoading; else carregando">
    <thead>
        <tr>
            <th scope="col" (click)="sort('id')">
                #
                <span *ngIf="key =='id'">{{reverse ? '▲' : '▼'}}</span>
            </th>
            <th scope="col" (click)="sort('nome')">
                Nome
                <span *ngIf="key =='nome'">{{reverse ? '▲' : '▼'}}</span>
            </th>
            <th scope="col" (click)="sort('preco')">
                Preço
                <span *ngIf="key =='preco'">{{reverse ? '▲' : '▼'}}</span>
            </th>
            <th scope="col">Editar</th>
            <th scope="col">Excluir</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of produtos | orderBy: key : reverse; let i = index">
            <th scope="row">{{item.id}}</th>
            <td>{{item.nome}}</td>
            <td>{{item.preco | currency:'BRL'}}</td>
            <td>
                <button type="button" class="btn btn-warning" (click)="editar(item.id)">Editar</button>
            </td>
            <td>
                <button type="button" class="btn btn-danger" (click)="excluirItem(item.id)">Excluir</button>
            </td>
        </tr>
    </tbody>
</table>

<ng-template #carregando >
    <div id="preloader">
        <div class="inner">
            <div class="bolas">
                <div></div>
                <div></div>
                <div></div>                    
            </div>
        </div>
    </div>
</ng-template>